{% extends 'app/profile.html' %}
{% block form %}
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your profile</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">User Name*</label>
                                <div class="col-8">
                                    <input id="username" name="username" placeholder="Username"
                                           class="form-control here" required="required" type="text"
                                           value="{{ user.username }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label>
                                <div class="col-8">
                                    <input id="email" name="email" placeholder="Email"
                                           class="form-control here" required="required" type="text"
                                           value="{{ user.email }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="first_name" class="col-4 col-form-label">First Name</label>
                                <div class="col-8">
                                    <input id="first_name" name="first_name" placeholder="First Name"
                                           value="{{ user.first_name }}"
                                           class="form-control here" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="last_name" class="col-4 col-form-label">Last Name</label>
                                <div class="col-8">
                                    <input id="last_name" name="last_name" placeholder="Last Name"
                                           value="{{ user.last_name }}"
                                           class="form-control here" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="emp_id" class="col-4 col-form-label">Employee Id</label>
                                <div class="col-8">
                                    <input id="emp_id" name="emp_id" placeholder="Employee Id"
                                           value="{{ authority.emp_id }}"
                                           class="form-control here" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="designation" class="col-4 col-form-label">Designation</label>
                                <div class="col-8">
                                    <input id="designation" name="designation"
                                           placeholder="Designation" value="{% for k, v in designation_type.items %}{% if k == authority.designation %}{{ v }}{% endif %}{% endfor %}"
                                           class="form-control here" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="role" class="col-4 col-form-label">Role</label>
                                <div class="col-8">
                                    <input id="role" name="role"
                                           placeholder="Role" value="{% for k, v in role_type.items %}{% if k == authority.role %}{{ v }}{% endif %}{% endfor %}"
                                           class="form-control here" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                    <button name="submit" type="submit" class="btn btn-success">Update My Profile</button>
                                </div>
                            </div>
                        </form>
                        <div class='form-message'>{{ message }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .form-message {
            font-size: 16px;
            text-align: center;
        }
    </style>
{% endblock %}
