{% extends 'app/profile.html' %}
{% block form %}
    <div class="col-md-9">
        <div id="change_password">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Change Password</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit">Save changes</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}